---
import Markdown from "../layouts/Markdown.astro";

// some script bullshit to send contact request
---

<Markdown title="Contact Us">
  <h1>Let's Get in Touch!</h1>

  <b>
    We're here to help you with any questions you may have about Intramu. Please
    fill out the form below and we'll get back to you as soon as possible.
  </b><br />
  <input type="text" placeholder="Your Name" /><br />
  <input type="text" placeholder="Email Address" /><br />
  <input type="text" placeholder="Phone Number" /><br />
  <textarea placeholder="Your message"></textarea><br />
  <textarea placeholder="Optional additional information"></textarea><br />
  <button>Submit</button>
</Markdown>
