---
import { primaryColor } from "../../css/common";
---

<section id="intro">
    <div class="banner"></div>
    <span style="margin: 20px 0 30px 0; font-size: 30px;">
        <span>
            <b>INTRAMU</b>
        </span>
        <span>
            {" "}
            is the better solution to managing intramural sports league systems
        </span>
    </span>
    <button>Find out why</button>
</section>
<style define:vars={{ primaryColor }}>
    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .banner {
        width: 100%;
        height: 30vh;
        background-color: var(--primaryColor);
        margin: 70px 0;
    }
    button {
        border: 1px solid black;
    }
    button:hover {
        padding: 2px 20px;
    }
</style>
