<section style="height: 1000px" id="mobile-app">
    <span class="table-header">The Intramu mobile app:</span>
    <div class="line"></div>

    <div class="container">
        <div class="content">
            <h1 style="font-size: x-large; margin-bottom: 20px;">Lorem ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto rerum
                dignissimos veritatis repellat vero eaque excepturi, officia velit distinctio a
                veniam quasi nisi alias perspiciatis nam dolore debitis inventore explicabo.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto rerum
                dignissimos veritatis repellat vero eaque excepturi, officia velit distinctio a
                veniam quasi nisi alias perspiciatis nam dolore debitis inventore explicabo. Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum quam eaque ab
                voluptates, porro quos fuga dicta eius quasi. Consequuntur accusantium totam placeat
                nisi praesentium minus deleniti optio error ad.
            </p>
        </div>

        <div id="phone-list">
            <div class="phone">
                <div class="phone-top"></div>
                <div class="phone-bottom"></div>
            </div>
            <div class="phone">
                <div class="phone-top"></div>
                <div class="phone-bottom"></div>
            </div>
            <div class="phone">
                <div class="phone-top"></div>
                <div class="phone-bottom"></div>
            </div>
        </div>
    </div>
</section>
<style>
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .content {
        margin: 100px 40px 0px 0px;
    }
    #phone-list {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .phone {
        height: 580px;
        width: 300px;
        border-radius: 18px;
        border: 1px solid black;
        position: relative;
        margin: 0 0.5em;
    }
    .phone-top {
        background-color: white;
        position: absolute;
        width: 60%;
        height: 3%;

        right: 50%;
        top: 1.9%;
        transform: translate(50%, -50%);
        z-index: 1;
        border-radius: 5px;
    }

    .phone-bottom {
        background-color: black;
        width: 97.5%;
        height: 98.9%;
        border-radius: 18px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    @media (max-width: 1400px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        .content {
            margin: 20px;
        }
    }
</style>
