<section style="height: 1000px; display: flex;">
    <div style="margin-right: 32px; flex: 1;">
        <span class="table-header">Schools:</span>
        <div class="line"></div>
    </div>
    <div style="flex: 1;">
        <span class="table-header">Testimonials:</span>
        <div class="line"></div>
    </div>
</section>
