---
import { markdownWidth } from "../styles/common";
import Home from "./Home.astro";

const { title, frontmatter } = Astro.props;
---

<style define:vars={{ markdownWidth }}>
    .container {
        max-width: var(--markdownWidth);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<Home title={frontmatter?.title ?? title ?? "Intramu"}>
    <div class="container">
        <slot />
    </div>
</Home>
